<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vision.mapper.tra.TraTrainingEquipmentMapper">
	
	<!-- 基于用户名/电话的查询条件sql引用语句 -->
	<sql id="queryWhereId">
		<where>
		 	org_id=#{orgId}
			<!-- name条件 -->
			<if test="name!=null and name!=''">
				and name like concat("%",#{name},"%")
			</if>
		</where>
	</sql>
	
	<!-- 基于用户姓名及分页条件查询,无用户名输入基于分页条件查询 -->
	<select id="findPageObjects" resultType="com.vision.pojo.tra.TraTrainingEquipment">
		select * from tra_informationrecord
		<include refid="queryWhereId" /> 
		limit #{startIndex},#{pageSize}
	</select>
	
	<!-- 基于用户名查询该用户总数,无用户名输入查询所有用户总数 -->
	<select id="getRowCount" resultType="int">
		select count(*) from tra_informationrecord <!-- where user_id=#{userId} and user_parent_id=#{userParentId} -->
		<include refid="queryWhereId" />
	</select>
	
	<select id="selectId" resultType="com.vision.pojo.tra.TraTrainingEquipment"> 
	 select * from tra_informationrecord where id=#{id} 
	</select>
</mapper>