<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vision.mapper.pre.SymptomTypeMapper">

	<select id="findAllObjects" resultType="com.vision.vo.pre.SymptomAllMsg">
		SELECT ch.id,pa.id AS parentId,ch.dis_status,ch.symptom_name,
		   pa.symptom_name AS symptomParentName,
		   ch.create_time,ch.modified_time
	  	FROM symptom_type ch left join symptom_type pa 
		on ch.parent_id=pa.id
	</select>
	
	<select id="getRowDataById" resultType="int">
		SELECT COUNT(*) FROM symptom_type WHERE parent_id=#{id} 
	</select>
	
	<delete id="deleteSymptomObjectById">
		delete from symptom_type where id=#{id}
	</delete>
	
	<insert id="insertSymptomObject" useGeneratedKeys="true" keyProperty="id">
		insert into symptom_type values(null,#{parentId},#{disStatus},#{descStart},#{symptomName},#{createTime},#{modifiedTime})
	</insert>
	
	<update id="updateDisStatusById">
		update symptom_type set dis_status=#{disStatus} where id=#{parentId}
	</update>
	
	<select id="findSymptomObjectById" resultType="com.vision.pojo.pre.SymptomType">
		select * from symptom_type where id = #{id}
	</select>
	
	<update id="updateSymptomObject">
		update symptom_type set symptom_name = #{symptomName},desc_start=#{descStart},modified_time=now() where id=#{id}
	</update>
	
	
		<select id="findAllObjectsList"
		resultType="com.vision.pojo.pre.SymptomType">
		select * from symptom_type
		ORDER BY modified_time desc
		limit #{startIndex},#{pageSize} 
	</select>
</mapper>