<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vision.mapper.rec.RecActivityMapper">

	<delete id="deleteRecActivityById">	
		delete from rec_activity_push where id in 
		 	<foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
	</delete>
	
	<insert id="insertRecActivity">
		insert into rec_activity_push values(
		null,
		#{orgId},
		#{title},
		#{describes},
		#{payAmount},
		#{presentedAmount},
		#{activityStartTime},
		#{activityEndTime},
		#{activityState},
		#{createTime},
		#{modifiedTime})
		
	</insert>
	
	<update id="updateRecActivityById">
		update rec_activity_push set 
		pay_amount=#{payAmount},
		presented_amount=#{presentedAmount},
		title=#{title},
		describes=#{describes},
		activity_start_time=#{activityStartTime},
		activity_end_time=#{activityEndTime},
		modified_time=#{modifiedTime},
		activity_state=#{activityState}
	    where id=#{id}	
	</update>
	
	<select id="findAllRecActivityObjects" resultType="com.vision.pojo.rec.RecActivityPush">	
		select * from rec_activity_push
		<include refid="queryWhereId"/> ORDER BY create_time desc 
		limit #{startIndex},#{pageSize}
	</select>
	
	<select id="findRecActivityObject" resultType="com.vision.pojo.rec.RecActivityPush">
		select * from rec_activity_push where id=#{id}
	</select>
	
	<!-- 基于用户名查询该用户总数,无用户名输入查询所有用户总数 -->
	<select id="getRowCount" resultType="int">
		select count(*) from rec_activity_push
		<include refid="queryWhereId"/>
	</select>
	
	<!-- 基于用户名的查询条件sql引用语句 -->
	<sql id="queryWhereId">
       <where>
       		<!-- org_id=#{orgId} -->
		 	org_id=#{orgId}
       		<!-- name条件 -->
			<if test="title!=null and title!=''">
				and title like concat("%",#{title},"%")
			</if>
			
		</where>
	</sql>
</mapper>