<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vision.mapper.exp.ExpRemoteDiagnoseMapper">
<!--    <resultMap id="BaseMap" type="com.vision.pojo.exp.ExpRemoteDiagnose">-->
<!--        <id column="id" property="id"/>-->
<!--        <result column="register_user" property="registerUser"/>-->
<!--        <result column="register_parentid" property="registerParentid"/>-->
<!--        <result column="modified_user" property="modifiedUser"/>-->
<!--        <result column="dept_site" property="deptSite"/>-->
<!--        <result column="dept_name" property="deptName"/>-->
<!--        <result column="customer_name" property="customerName"/>-->
<!--        <result column="customer_tel" property="customerTel"/>-->
<!--        <result column="expert_id" property="expertId"/>-->
<!--        <result column="valid" property="valid"/>-->
<!--        <result column="time_number" property="timeNumber"/>-->
<!--        <result column="send_name" property="sendName"/>-->
<!--        <result column="send_tel" property="sendTel"/>-->
<!--        <result column="gmt_create" property="gmtCreate"/>-->
<!--        <result column="gmt_modified" property="gmtModified"/>-->
<!--        <result column="del_tag" property="delTag"/>-->
<!--    </resultMap>-->

    <resultMap id="expDiagnoseMap"
               type="com.vision.rto.ExpRemoteDiagnoseRto">
        <!-- 关联查询 -->
        <!-- association定义关联对象的封装规则 select:表明当前属性时调用什么select指定的方法查出的结果 column:指定将哪一列的值传给这个方法
            property:将column的值传入select方法查出的结果封装到property属性中 -->
        <association property="expertName" column="expert_id"
                     select="com.vision.mapper.exp.ExpertMapper.findId">
        </association>
    </resultMap>

    <select id="select" resultMap="expDiagnoseMap">
        select * from exp_remote_diagnose
		where id=#{id}
    </select>

    <!-- 查询对应客户姓名的数量,如果没输入客户姓名则查询远程诊断表中的所有数量 -->
    <select id="getRowCount" resultType="int">
        select count(*) from exp_remote_diagnose
        <include refid="queryWhereId" />
    </select>

    <!-- 通过sql元素定义sql语句中的共性 -->
    <sql id="queryWhereId">
        <where>
            <if test="customerName!=null and customerName!=''">
                customer_name like concat("%",#{customerName},"%") and
            </if>

            <if test="registerParentid !=null">
                register_parentid= #{registerParentid}
            </if>
            <if test="registerParentid ==null">
                register_parentid is null
            </if>
            and del_tag=0
        </where>
    </sql>

    <!-- 对应前端页面用户管理模块呈现页面, 从前端获取当前页码值的开始下标并返回指定长度的信息 和获取输入框中username的值 并在数据库进行分页查询返回查询的信息 -->
    <select id="findPageObjects" resultMap="expDiagnoseMap">
        select * from exp_remote_diagnose
        <include refid="queryWhereId" />
        order by gmt_create desc
        limit #{startIndex},#{pageSize}
        <!-- limit 子句为分页查询子句,第一个参数代表下标位置 -->
    </select>
</mapper>